<!DOCTYPE HTML>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="is-preload">
    @RenderBody()
    @*@await Html.PartialAsync("ContentPartial")*@
    @await Html.PartialAsync("SidebarPartial")

</body>
@await Html.PartialAsync("ScriptsPartial")
</html>